body {
  background-color: blanchedalmond;
}
header {
  min-width: 100svw;
  height: 100px;
  background-color: #585833;
  text-align: center;
  padding: 30px 0px;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  font-style: normal;
  color: #ffd700;
  -webkit-text-stroke: 2.5px black;
}
